.instruction-container{
    position: absolute;
    bottom: 0;
    background-color: rgba(91, 100, 102, 0.739);
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 5px 0 5px 0;
    color: var(--grey-date);
}
.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 1rem;
    font-weight: bolder;
    margin: auto;
    color: var(--grey-default);
}

.flex-container div{
    padding-top: 10px;
    width: 100%;
}

@media (min-width: 600px){
    .flex-container{
        flex-direction: row;
        width: 90%;
    }
    .flex-container div{
        width: 30%;
    }
}

@media (min-width: 1100px){
    .flex-container{
        width: 60%;
    }
}