.logo-text {
    font-size: 3rem;
    position: absolute;
    text-align: center;
    line-height: 60px;
    width: 100%;
    height: 60px;
    padding: 10px 0 10px 0;
    color: var(--grey-default);
    background-color:rgba(91, 100, 102, 0.739);
}
.background-container{
    background-image: url('../img/stock-indexes.jpg');
    position: relative;
    width: 100vw;
    height: 900px;
}


@media(min-width: 730px){
    .background-container{
        height: 100vh;
    }
}

