.input-container{
    position: absolute;
    left: 50%;
    top: 140px;
    transform: translateX(-50%);
}

.input {
    font-weight: 900;
    height: 35vh;
    width: 90vw;
    border: solid 1px rgb(43, 43, 43);
    border-radius: 6px;
    padding: 10px;
    font-size: 1.15rem;
    color: var(--grey-default);
    background-color: rgba(80, 79, 86, 0.488);
}

.input:focus {
    background-color:  rgba(80, 79, 86, 0.68);
    outline: none;
    border: 1px;
}

 .input-tip{
    color: var(--grey-instruction);
    font-size: 0.9rem;
    text-align: center;
    width: 100%;
    padding-top: 10px;
} 

.input-instruction{
    color: var(--grey-company);
    text-align: center;
    font-size: 0.9rem;
    width: 100%;
    padding-top: 10px;
} 
.company 
{
    color: var(--grey-company);
}

.instruction {
    color: var(--grey-instruction);
}

.time {
    color: var(--grey-date);
}

@media (min-width: 600px){
    .input{
        width: 60vw;
        font-size: 1.45rem;
    }
}

@media (min-height: 1200px){
    .input{
        height: 45vh;
    }
    .input-container{
        top: 190px;
    }
}