* {
    margin: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(167, 171, 171, 0.2);
}

:root {
    --default-text: #9c7474;
    --grey-default: #d5d3d3;
    --grey-date: antiquewhite;
    --grey-instruction: #be8a8a;
    --grey-company: #73e76f;
}